/* why choose us -------------------------------------------------------------------------------------------------------------------- */

#why {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--tertiary);
    text-align: center;
    padding: 80px 0px;
    color: #fff;
}

#why h2 {
    margin: 0px auto 16px;
    max-width: 90%;
}

.review-heading {
    margin: 64px auto 0px!important;
}

.why-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: auto;
    padding: 0px 32px;
}

.line {
    background-color: #000;
    height: 1px;
    width: 60%;
    max-width: 600px;
    border-radius: 1px;
    margin: 32px auto;
}

.why-item {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    text-align: center;
    width: 200px;
    margin: 32px;
}

.why-item > img {
    width: 50%;
    height: auto;
    margin-bottom: 16px;
}

.about-container {
    margin: 64px auto;
    padding: 0px 32px;
}

.about-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 64px;
    width: 100%;
}

.about-wrapper_inner {
    width: 100%;
}

.about-wrapper_inner > img {
    width: 100px;
    height: auto;
}

.about-wrapper_inner p {
    max-width: 100%;
    text-align: left;
    margin: 16px auto;
}

.review-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.review-wrapper p {
text-align: left;
font-style: italic;
margin: 16px;
max-width: 600px;
}

.review-wrapper span {
    color: var(--secondary);
    font-weight: bold;
    font-style: normal;
    text-align: right;
}

#why > img {
    width: 300%;
}

.badge {
    width: 100%;
    max-width: 250px;
    margin: auto;
    margin-top: 32px;
    z-index: 100000;
}

@media screen and (min-width: 700px) {
    #why h2 {
        margin: 0px auto 64px;
    }

    #why > img {
        width: 75%;
        margin: auto;
    }

    .about-wrapper_inner {
        width: 50%;
    }

    .about-wrapper_inner p {
        max-width: 400px;
    }
    
}

@media screen and (min-width: 1024px) {

    #why {
        padding: 160px 0px;
    }

    #why > img {
        width: 100%;
        margin-top: 64px;
    }

    .about-container {
        margin: 128px auto;
        padding: 0px 32px;
    }

    .about-wrapper_inner {
        width: auto;
        max-width: 50%;
    }

    .about-wrapper_inner p {
        max-width: 400px;
    }
}